
<!-- <nav class="nav disp-flex w-100 shadow">
    <div class="logo"><img src="../../../assets/images/logo.png" alt=""></div>

    <ul class="menu disp-flex just-content-evenly align-center w-100">
        <li>
            <a [routerLink]="['/crear']">{{crearTitle | uppercase}}</a>
        </li>
        <li>
            <a [routerLink]="['/listado']">{{listadoTitle | uppercase}}</a>
        </li>
    </ul>

</nav> -->

<nav class="menu menu-3 disp-flex align-center shadow">

    <div class="logo"><img src="../../../assets/images/logo.png" alt=""></div>

    <ul class="disp-flex">
        <li>
            <a [routerLink]="['/crear']" href="#">{{crearTitle | uppercase}}</a>
        </li>
        <li>
            <a [routerLink]="['/listado']" href="#">{{listadoTitle | uppercase}}</a>
        </li>
    </ul>
  </nav>
