/* You can add global styles to this file, and also import other style files */

$light-color:#f1f2f6;
$main-color:#cb0731;
$dark-color:#727272;

html, body { 
    height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d1a3ad, #b7bdd1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d1a3ad, #a6aec7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    height: 100vh ;
    }

// a:link, a:visited, a:active {
//     text-decoration:none;
// }

.spacer {
    flex: 1;
  }




////////////////////FLEX LAYOUT
///
// 
.disp-flex {
    display: flex;
}

.just-content-evenly{
    justify-content:space-evenly;
}

.align-center {
    align-items:center;
}



///////////////////////////

.shadow {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rounded{
    border-radius:3px;
}

.w-100{
    width:100%;
}

.w-50{
    width:50%;
}

////////////////////////////
/// 


.mat-mdc-form-field-focus-overlay {
    background-color: rgb(22, 22, 201);
}


///////////////////////////////////////form
/// 

.form-wrapp, .tabla-usuarios{
    padding:20px 10px;
}



form{
    padding:10px;
    max-width: 1000px;
    margin:50px auto;
    background-color:white;


    .datos2{
        border:1px solid $main-color;  
        background-color:#313131; 
        border-radius: 5px;
        padding:40px 25px 25px 25px;
        margin:50px auto;
    }


  }

  mat-form-field{
    width:100%;
  }






////////////////////////////////////////form DESKTOP STYLES form

@media (min-width: 800px) {
    form {
        padding:50px;
        .grupo1 {
            display: flex;
            margin-bottom: 10px;

            .nombre, .apellidos{
                width:50%;
            }
        }

        .grupo2 {
            display: flex;
            margin-bottom: 30px;
            .datos1 {
                width:50%;
            }

            .telefono{
                margin-top: 45px;
            }
        }
        

        .datos2 {
            width:40%;
            margin:0 auto;
        }

        .nombre, .telefono, .cp {
            margin-right:10px;
        }

    }


}





///////////////////////MENU


nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.logo{
    padding:20px;
}



.menu{

    .logo{
        padding-top:50px;
    }
 
    .logo img {
        height: 65px;
    }


    ul{
        list-style: none;
        margin: 0;
        padding: 30px 0;
        text-align: center;
        width: 100%;
        display: flex;
        font-weight: 500;
        justify-content: space-evenly;
    }

    li{
        display: inline-block;
        margin: 0 15px;
    }

    a{
        font-size: 0.9rem;
        text-decoration: none;
        color:$dark-color;
        display: block;
        padding: 4px 0px;
    }

}



//////////////////////////////menu desktop


@media (min-width: 800px){

    nav{
        flex-direction: row;
    }

    .menu{

        .logo img {
            height: 55px;
        }

        .logo{
            padding-top:20px;
        }

        ul{
            padding:0;
        }

        a{
            position: relative;
            padding: 4px 50px;
        }

        a::before{
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -34px;
            background: #fff;
            transition: 0.5s transform ease;
            transform: scale3d(0,1,1);
            transform-origin: 0 50%;
        }

        a:hover::before{
            transform: scale3d(1,1,1);
        }

        a::before{
            transform-origin: 50% 50%;
            background: $main-color;
        }

    }

}